.font {
  font-family: Arial, Helvetica, sans-serif;
}

.link {
  font-size: 22px;
  color: white;
} 

link:hover {
  color: black;
}

.abt-title {
  font-weight: 600;
  font-size: 48px;
}

.abt-content {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 20px;
  text-align: center;
} 

.abt-content div {
  margin-top: 20px;
} 

.abt-content p {
  margin-top: 5px;
  font-size: 16px;
}

img {
  max-width: 100%;
  height: auto;
  padding-top: 15px;
}

.flex {
  display: flex;
  justify-content: center;
} 

.last {
  margin-bottom: 30px;
}

@media only screen and (max-width: 500px) {
  .abt-content {
    font-size: 16px;
  }
  .abt-content p {
    font-size: 12px;
  }
  .abt-title {
    font-size: 30px;
  }
}
@media only screen and (min-width: 500px) {
  img {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }
}
