.font {
  font-family: Arial, Helvetica, sans-serif;
}

.holder {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 50px;
}

.navbar-link {
  font-size: 22px;
  color: white;
} 

.navbar-link:hover {
  color: black;
}

.title {
  padding-top: 10px;
  font-weight: 600;
  font-size: 48px;
}

.tag-line {
  font-size: 24px;
  margin-bottom: 15px;
  font-style: italic;
}

.proj-title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 24px;
}

.flex {
  margin-top: 35px;
}

.proj-description {
  font-size: 18px;
}

.link {
  margin-top: 10px;
}

img {
  max-width: 100%;
  height: auto;
}
@media only screen and (max-width: 500px) {
  .title {
    font-size: 28px;
  }
  .tag-line {
    font-size: 16px;
  }
  .proj-title {
    font-size: 18px;
    margin-bottom: 5px;
    margin-top: 15px;
  }
  .proj-description {
    font-size: 14px;
  }
}