.font {
  font-family: Arial;
}

.container {
  margin-bottom: 25px;
}

.link {
  font-size: 20px;
  color: white;
} 

.link:hover {
  color: black;
}

.title {
  padding-top: 10px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 48px;
}

.tag-line {
  font-size: 24px;
  font-style: italic;
}

.skill-category {
  padding-top: 24px;
  padding-bottom: 10px;
  font-size: 18px;
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill-list span {
  white-space: nowrap;
  display: inline;
  background-color: #eee;
  border-radius: 4px;
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 10px;
  padding-left: 8px;
  padding-right: 8px;
  color: #4a4a4a;
  font-size: 14px;
  justify-content: center;
  box-shadow: 0 1px 1px rgba(0,0,0,.12), 0 1px 1px rgba(0,0,0,.24);
}
  
@media only screen and (max-width: 500px) {
  .title {
    font-size: 28px;
  }
  .tag-line {
    font-size: 16px;
  }
  .skill-category {
    font-size: 16px;
  }
} 
